*{
  margin: 0;
  transition: all .3s;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(180deg, rgb(236, 211, 157), #FDAC73);
  
}
.calcu-body{
  display: flex;
  flex-direction: column;
  background-color: #243441;
  height: 100%;
  max-height: 700px;
  width: 100%;
  max-width: 500px;
  padding: 40px 5px 10px 5px;
  border-radius: 30px;
  margin: 30px;
}
.input-display-calcu{
  color: white;
  font-size: 50px;
  width: calc(100% - 8px);
  background-color: transparent;
  border: none;
  margin-bottom: 50px;
  text-align: right;
}
.calcu-buttons{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
}
.calcu-footer{
  display: grid;
  height: 25%;
  grid-template-columns: 1fr 1fr 2fr;
}
.button-1, .button-operators, .button-operators-equal-1{
  color: white;
  font-size: 100%;
  max-height: 100px;
  height: 100%;
  margin: 10px;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 0px 1px 1px grey, 0px -1px 0px  grey;
}
.button-operators{
  color: orange;
}
.button-operators-equal-1{
  color: white;
  background-color: orange;
}
@media screen and (max-height: 760px)  {
  *{
    transform: scale(.95);
  }
}
